a:active, a:hover {
	text-decoration: underline
}

@font-face {
	font-family: eleme;
	src:
		url(//static11.elemecdn.com/eleme/account/media/fonts/eleme.755a9a.eot);
	src:
		url(//static11.elemecdn.com/eleme/account/media/fonts/eleme.755a9a.eot?#iefix)
		format("embedded-opentype"),
		url(//static11.elemecdn.com/eleme/account/media/fonts/eleme.b2b4e5.woff)
		format("woff"),
		url(//static11.elemecdn.com/eleme/account/media/fonts/eleme.038b58.ttf)
		format("truetype"),
		url(//static11.elemecdn.com/eleme/account/media/fonts/eleme.01da74.svg)
		format("svg")
}

.icon {
	font-family: eleme;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-lock:before {
	content: "\e001"
}

.icon-mobile:before {
	content: "\e002"
}

.icon-user:before {
	content: "\e003"
}

.icon-message:before {
	content: "\e004"
}

.icon-eye:before {
	content: "\e005"
}

.icon-fulllogo:before {
	content: "\e600"
}

article, aside, blockquote, body, button, code, dd, details, dl, dt,
	fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6,
	header, hr, input, legend, li, menu, nav, ol, p, pre, section, td,
	textarea, th, ul {
	margin: 0;
	padding: 0
}

html {
	color: #666;
	box-sizing: border-box
}

html *, html :after, html :before {
	box-sizing: inherit
}

body, button, select {
	font: 400 14px Avenir, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans
		Serif, WenQuanYi Micro Hei, sans-serif
}

.title, h2, h3, h4 {
	color: #414c59;
	font-family: Helvetica Neue, Microsoft Yahei, Hiragino Sans GB,
		Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif
}

.weak {
	color: #8da0aa
}

.color-red {
	color: #c00
}

a {
	color: #07d;
	text-decoration: none
}

a:hover {
	color: #0f97ea
}

a:active {
	color: #f63
}

.account-header a, .login-mode-toggle:hover, .login-now:hover {
	text-decoration: none
}

input {
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .075);
	outline: 0
}

.empty {
	color: #999
}

.disabled {
	pointer-events: none;
	cursor: not-allowed
}

button.disabled, button[disabled] {
	opacity: .65;
	filter: alpha(opacity = 65)
}

.container {
	margin: 0 auto;
	width: 950px
}

.account-header {
	height: 80px;
	padding-top: 20px
}

.logo {
	display: inline-block;
	margin: 0;
	height: 36px;
	font-size: 36px;
	color: #3199e8
}

.account-container:after, .account-line:after {
	content: '';
	display: block;
	clear: both
}

.account-footer {
	padding: 40px 0 30px
}

.footer-line {
	text-align: center;
	line-height: 2em;
	color: #666;
	clear: both
}

.footer-line a {
	color: inherit
}

.footer-line.line-under {
	color: #999
}

.account-main {
	min-height: 420px;
	background-color: #fafcfe;
	border: 1px solid #dfe8f2;
	width: 950px;
	padding: 30px
}

.account-main.aside {
	float: left;
	width: 340px;
	margin: 30px 0 20px 30px
}

.account-main.full {
	padding: 50px 80px;
	min-height: 400px
}

.account-title {
	font-size: 24px;
	font-weight: 400
}

.account-illustration {
	float: left;
	margin: 30px 30px 20px;
	width: 445px
}

.account-errtip {
	background-color: #fff2f2;
	border: 1px solid #ff8080;
	border-radius: 3px;
	color: #c00;
	font-size: 12px;
	padding: 0 10px;
	line-height: 40px;
	height: 40px
}

.account-errtip .icon {
	padding-right: 5px
}

.account-line {
	margin-bottom: 15px;
	overflow: hidden
}

.account-line .line-left {
	float: left
}

.account-line .line-right {
	float: right
}

.account-authlink {
	margin-top: 30px;
	border-top: 1px solid #dfe8f2;
	text-align: center
}

.account-authlink .auth-linktitle {
	margin: -.5em auto 15px;
	width: 156px;
	padding: 0 1em;
	line-height: 1em;
	font-size: 12px;
	font-weight: 400;
	color: #8da0aa;
	background: #fafcfe
}

.account-label, .account-text {
	line-height: 40px
}

.account-authlink .auth-link {
	margin: 0 5px;
	text-indent: -99999em;
	background:
		url(icon-auth.6998d4.png)
		no-repeat;
	display: inline-block;
	width: 30px;
	height: 30px;
	opacity: .7;
	-ms-filter: alpha(opacity = 70);
	transition: opacity .3s
}

.account-authlink .auth-link:hover {
	opacity: 1;
	-ms-filter: alpha(opacity = 100)
}

.account-authlink .auth-link.wechat {
	background-position: 0 -60px
}

.account-authlink .auth-link.qq {
	background-position: -40px -60px
}

.account-authlink .auth-link.weibo {
	background-position: -80px -60px
}

.account-authlink .auth-link.renren {
	background-position: -120px -60px
}

.account-form .form-group {
	position: relative;
	margin: 12px 0 10px
}

.account-form .form-group.error-group {
	overflow: hidden;
	height: 40px
}

.account-form .form-group.compact {
	margin-top: 10px
}

.account-form .form-group.info {
	color: #8da0aa;
	font-size: 12px
}

.account-label {
	position: absolute;
	left: -120px;
	text-align: right;
	width: 110px;
	height: 40px;
	font-size: 14px
}

.account-input {
	border: 1px solid #d3e1f1;
	border-radius: 2px;
	font-size: 14px;
	padding: 10px;
	height: 40px;
	width: 100%
}

.account-input.verify {
	display: inline-block
}

.account-input.withicon {
	padding-left: 42px
}

.account-inputicon {
	position: absolute;
	top: 5px;
	left: 5px;
	color: #a6b2c2;
	background-color: #f8fafb;
	font-size: 20px;
	padding: 5px;
	border-radius: 3px
}

.account-btn {
	border: 1px solid #3199e8;
	font-size: 16px;
	font-weight: 400;
	background: #3199e8;
	color: #fff;
	border-radius: 3px;
	height: 40px;
	width: 100%;
	cursor: pointer
}

.account-btn.submit {
	height: 40px;
	width: 100%;
	margin: 20px 0 0;
	display: block
}

.account-btn.submit.disabled {
	opacity: .65;
	filter: alpha(opacity = 65);
	cursor: default
}

.account-btn.verify {
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 14px;
	color: #333;
	padding: 0 1em;
	height: 32px;
	width: auto;
	border: 1px solid #d9d9d9;
	background-color: #f0f0f0
}

.account-btn.verify.disabled {
	color: #acacad;
	background-color: #e8ecf0
}

.account-btn.short {
	display: inline-block;
	vertical-align: middle;
	width: 130px
}

.account-verify {
	padding-right: 135px
}

.account-captcha {
	right: 0;
	top: 0;
	position: absolute;
	height: 40px;
	width: 132px;
	vertical-align: bottom
}

.account-captcha .captcha-img {
	height: 40px;
	width: 92px
}

.account-captcha .captcha-refresh {
	float: right;
	margin-top: 6px;
	font-size: 12px;
	line-height: 1.2em;
	color: #8da0aa;
	width: 36px
}

.account-checkbox {
	margin-right: .5em
}

.countdown-tip {
	padding-top: 10px;
	color: #666
}

.countdown-tip .tip-lower {
	padding-top: 5px;
	color: #999;
	font-size: 12px
}

.login-mode-toggle {
	padding-top: 8px;
	font-size: 14px;
	color: #8da0aa
}

.login-mode-toggle .icon {
	text-decoration: none;
	padding-left: .3em;
	font-size: 15px;
	color: #0f97ea
}

.register-form {
	width: 280px;
	margin: 20px 0 0 120px
}

.register-form .password-eye {
	transition: color .1s;
	position: absolute;
	color: #f1f1f1;
	font-size: 20px;
	padding: 5px;
	top: 5px;
	right: 5px;
	cursor: default
}

.register-form .password-eye:active, .register-form .password-eye:hover
	{
	color: #a5b1c1
}

.register-errtip {
	margin-left: -120px;
	width: 400px
}

.register-change {
	color: #666
}

.register-bymobile {
	color: #07d;
	background-color: #fff;
	border-color: #dfe8f1
}

.register-aside {
	float: right;
	padding-left: 50px;
	width: 280px;
	border-left: 1px solid #dfe8f2
}

.register-title {
	padding-bottom: 15px;
	font-size: 18px;
	font-weight: 400;
	color: #414c59
}

.register-info {
	font-size: 16px;
	color: #8da0aa
}

.register-auth {
	margin-top: 60px
}

.register-auth .auth-linktitle {
	margin-bottom: 20px;
	text-align: left;
	font-size: 16px;
	font-weight: 400;
	color: #666
}

.forget-header-guide .num, .login-now {
	display: inline-block;
	text-align: center
}

.register-auth .auth-link {
	margin: 0 2px;
	text-indent: -99999em;
	background:
		url(//static11.elemecdn.com/eleme/account/media/img/icon-auth.6998d4.png)
		no-repeat;
	display: inline-block;
	width: 50px;
	height: 50px;
	opacity: .7;
	-ms-filter: alpha(opacity = 70);
	transition: opacity .3s
}

.register-auth .auth-link:hover {
	opacity: 1;
	-ms-filter: alpha(opacity = 100)
}

.register-auth .auth-link.wechat {
	background-position: 0 0
}

.register-auth .auth-link.qq {
	background-position: -60px 0
}

.register-auth .auth-link.weibo {
	background-position: -120px 0
}

.register-auth .auth-link.renren {
	background-position: -180px 0
}

.mailconfirm {
	margin-left: 160px
}

.mailconfirm-title {
	font-weight: 400;
	font-size: 18px
}

.mailconfirm-info {
	margin-top: .4em;
	color: #999
}

.mailconfirm-maillink {
	margin-left: 80px
}

.mailconfirm-tips {
	font-size: 14px;
	color: #8da0aa
}

.mailconfirm-tips .tips-title {
	font-weight: 400;
	color: #414c59;
	margin-bottom: 1.2em
}

.mailconfirm-tips ol {
	margin-left: 1.5em
}

.mailconfirm-tips ol li {
	margin-top: .2em
}

.mailconfirm-tips .tips-link {
	color: #adadad
}

.mailconfirm-tips .tips-hightlight {
	color: #c00
}

.mailconfirm-form {
	margin: 50px 0
}

.mailconfirm-verify {
	width: 140px;
	height: 35px;
	margin-left: .5em
}

.mailconfirm-confirm {
	width: auto;
	height: 35px;
	padding: 0 1.2em;
	margin-left: .5em
}

.mailconfirm-linelink {
	margin-left: 1em
}

.comfirm-tip {
	width: 280px;
	margin-left: 80px
}

.account-line.register {
	margin-top: 20px
}

.account-line.register .icon {
	color: #67ca67
}

.hidden {
	visibility: hidden
}

.forget-header {
	margin-bottom: 40px
}

.account-main.forget {
	padding: 25px 55px
}

.forget-header-title {
	display: inline-block;
	font-size: 24px;
	font-weight: 400;
	vertical-align: top
}

.forget-header-guide {
	display: inline-block;
	margin-left: 100px;
	vertical-align: top
}

.forget-header-guide .item {
	display: inline-block;
	vertical-align: middle;
	color: #999
}

.forget-header-guide .item.cur {
	color: #0f97ea
}

.forget-header-guide .item.cur .num {
	background-color: #0f97ea
}

.forget-header-guide .num {
	margin-right: 5px;
	width: 24px;
	line-height: 24px;
	border-radius: 50%;
	background-color: #999;
	color: #fff;
	font-style: italic;
	text-indent: -2px
}

.forget-header-guide .line {
	margin: 0 5px;
	width: 150px;
	height: 5px;
	background-color: #eee
}

.account-form.forget {
	margin: 0 0 0 300px;
	width: 280px
}

.account-form.complete, .forget-tip {
	margin-left: 200px
}

.forget-tip {
	margin-bottom: 15px;
	line-height: 1.5
}

.forget-tip.bottom {
	margin-top: 50px
}

.forget-tip .verify-success-title {
	margin-bottom: 14px
}

.forget-tip-title {
	margin-bottom: 15px;
	color: #414c59;
	font-size: 18px;
	font-weight: 400
}

.forget-tip-title.fs14 {
	font-size: 14px
}

.forget-tip-ol {
	list-style-position: inside;
	font-size: 12px
}

.forget-tip-link[disabled] {
	color: #ccc;
	cursor: default
}

.email-verify {
	width: 140px;
	vertical-align: middle
}

.text-to-email-verify {
	position: absolute;
	right: -100px;
	line-height: 40px
}

.forget-back {
	display: inline-block;
	margin-left: 50px;
	margin-top: 20px;
	line-height: 40px;
	vertical-align: middle
}

.login-now {
	margin-left: 200px;
	width: 280px;
	line-height: 38px
}

.login-now:hover {
	color: #fff
}

.captcha-modal {
	background-color: #fff;
	padding: 62px 110px 60px 60px
}

.captcha-modal .close {
	position: absolute;
	right: 16px;
	top: 16px;
	font-font: arial;
	font-size: 14px;
	font-weight: 800;
	color: #d9d9d9;
	cursor: pointer
}

.captcha-modal .modal-title {
	font-size: 18px;
	font-weight: 500;
	line-height: 1;
	margin-bottom: 16px
}

.captcha-modal .modal-form {
	position: relative;
	width: 295px
}

.captcha-modal .account-verify:first-child {
	margin-bottom: 30px
}